<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <style>
        body{
            background-color: gray;
            color: white;
            text: center;
        }
    </style>
</head>
<body>
    <header>
        <center>
    <div class="container">
        <div class="row">
            <div class="col-md3">
                <div class="card">
                    <h2>Login</h2>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit">LogIn</button>
                    </form>
                    <p>Don't Have An Account? <a href="{% url 'register' %}" class="btn btn-secondary"> Register</a></p>   
                </div>
            </div>
        </div> 
    </div>
</center>
</header>
</body>
</html>